.home-data{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    background-color: white;
    border-radius: 20px;
}
.title{
    color: rgb(211, 94, 94);
    text-align: center;
    }
.titleName{
    color: rgb(248, 248, 0);
}
