body{
  background-color: rgb(231, 175, 165);
}
.form-inside h2 {
  text-align: center;
}
.form-inside {
  margin: 2rem auto;
  padding: 1rem;
  width: 60%;
  max-width: 30rem;
  background-color: white;
  border-radius: 20px;
 
}

.form-data label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.form-data input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid rgb(201, 188, 188);
  padding: 0.5rem;
border-radius: 10px;
margin-bottom: 2rem;
}
.submit-button {
  margin-top: 2rem;
  font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  max-width: 20rem;
  margin-bottom: 0.2rem;
}

.submit-button:hover,
.submit-button:active {
  background: #741188;
  border-color: #741188;
}
